.signup-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgb(255, 255, 255);
}

.signup-form-container{
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:italic;
    background: rgb(24, 24, 26);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
}

.signup-form-container-register-title{
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:normal;
    color: white;
}

.signup-form-container h3{
    margin: 3px;
}

.signup-form-container form{
    margin: 5px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
}

.signup-container input{
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:italic;
    display: block;
    font-size: 15px;
    margin: 10px auto;
    border-radius: 8px;
    padding-left: 10px;
}

.signup-container button{
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:italic;
    width: 100%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
}

.signup-container button:hover{
    background: red;
}

.signup-container .signup-error{
    color: red;
    margin-top: 15px;
    text-align: center;
}

.signup-container .signup-success{
    color: #12d412;
    margin-top: 15px;
    text-align: center;
}